@import '../../styles/core.scss';
@import '../../styles/base';
@import '../../styles/fonts';

.container {
	width: 100%;
	max-width: 2100px;
	flex: 1;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}


.topWrapper{
	background-color: $main-section-background-color;
	position: relative;
	padding-bottom: 10px;
}

.navbar {
	background-color: $main-section-background-color;
	display: flex;
	position: relative;
	justify-content: space-around;
	width: 100%;
	padding-top: 15px;
	font-family: 'bariol', sans-serif;
	@include mobile {
		justify-content: space-between;
		padding: 10px 20px 0 20px;
	}
}

.logo {
	display: flex;
		margin-right: 50px;
		font-size: 26px;
		width: 70px;
		height: 70px;
}



footer {
	padding: 100px 20px 100px 20px;
}
