@import '../../styles/mixins';

.customerSecion {
	position: relative;
	height: 970px;
	margin: 50px 0;
	width: 100%;
	overflow: hidden;
	@include mobile {
		height: 800px;
	}
}

.container {
	width: 100%;
	height: 970px;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	@include mobile {
		height: 800px;
	}
	&__left {
		margin: 0 auto;
		max-width: 380px;
		display: flex;
		justify-content: space-between;
		flex: 0 0 43.75%;
		@include tablet {
			justify-content: center;
			flex-basis: 35%;
		}
		@include mobile {
			display: none;
		}
	}
	&__right {
		position: relative;
		flex: 0 0 56.25%;
		height: 100%;
		background-color: #313a5a;
		@include tablet {
			flex-basis: 65%;
		}
		@include mobile {
			flex-basis: 100%
		}
	}
}


.slider {
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	@include mobile {
		left:0;
	}
		&_wrapper {
		display: flex;
		transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}
}

.bubbles {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 0;
	margin-bottom: 30px;
	@include mobile {
		left: 0;
	}

}

