@media screen and (max-width: 767px) {
  .test___1Lt-e {
    background: red; } }

.navbar___1IrTO {
  background-color: #313a5a;
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  padding-top: 25px;
  font-family: 'bariol', sans-serif; }
  @media screen and (max-width: 767px) {
    .navbar___1IrTO {
      justify-content: space-between;
      padding: 25px 20px 0 20px; } }
  .navbar__logo___2sMbZ {
    display: flex;
    margin-right: 50px;
    font-size: 26px; }
    @media screen and (max-width: 767px) {
      .navbar__logo___2sMbZ {
        display: none; } }
  .navbar__list___1cd6c {
    display: flex;
    flex: 0 0 40%;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .navbar__list___1cd6c {
        display: none; } }
  .navbar__right___2zRfR {
    display: flex; }
    .navbar__right___2zRfR > * {
      margin-right: 15px; }
      @media screen and (max-width: 767px) {
        .navbar__right___2zRfR > * {
          margin-right: 0; } }
  .navbar__item___3QC1F {
    display: flex;
    justify-content: center;
    padding: 0 10px; }
    @media screen and (max-width: 767px) {
      .navbar__item___3QC1F {
        width: 100%;
        padding-left: 86px; } }
    .navbar__item__link___j5C86 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: transparent;
      transition: color 0.2s linear; }
      @media screen and (max-width: 767px) {
        .navbar__item__link___j5C86 > * {
          height: 50px;
          line-height: 50px; } }
  .navbar__toggle___JvIH4 {
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: none;
    width: 30px;
    height: 24px; }
    .navbar__toggle___JvIH4 > span {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 3px;
      width: 100%;
      background-color: #15484c;
      display: block;
      position: absolute;
      transition: opacity 0.3s; }
    @media screen and (max-width: 767px) {
      .navbar__toggle___JvIH4 {
        display: inherit;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 6; }
        .navbar__toggle___JvIH4:before {
          content: '';
          top: 0;
          left: 0;
          height: 3px;
          width: 100%;
          background-color: #15484c;
          display: block;
          position: absolute;
          transition: all 0.3s; }
        .navbar__toggle___JvIH4:after {
          content: '';
          bottom: 0;
          left: 0;
          height: 3px;
          width: 100%;
          background-color: #15484c;
          display: block;
          position: absolute;
          transition: all 0.3s; } }
  .navbar_showed___3qRE3 .navbar__menu___2wBJL {
    transform: scaleY(1); }
  .navbar_showed___3qRE3 .navbar__toggle___JvIH4 > span {
    opacity: 0;
    visibility: hidden; }
  .navbar_showed___3qRE3 .navbar__toggle___JvIH4:before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg); }
  .navbar_showed___3qRE3 .navbar__toggle___JvIH4:after {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg); }

@media screen and (max-width: 767px) {
  .test___2BLtV {
    background: red; } }

.btn___3-rxn {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: 300; }

.btn___3-rxn:disabled {
  color: #ccc;
  background-color: rgba(31, 219, 131, 0.5);
  cursor: not-allowed; }

.success___2cFNS {
  width: 120px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px 0px 5px;
  background-color: #1fdb84; }

.successBig___NTJtn {
  width: 200px;
  height: 60px;
  font-size: 18px;
  border-radius: 5px 0px 5px;
  background-color: #1fdb84; }

@media screen and (max-width: 767px) {
  .close___1Z8vy {
    display: inherit;
    position: absolute;
    right: 0;
    top: -10px;
    transform: translateY(-50%);
    z-index: 6; }
    .close___1Z8vy:before {
      content: '';
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #15484c;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg); }
    .close___1Z8vy:after {
      content: '';
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #15484c;
      display: block;
      position: absolute;
      bottom: 50%;
      transform: translateY(50%) rotate(45deg); } }

.success___2cFNS:hover {
  box-shadow: 0 5px 8px 0 rgba(31, 219, 132, 0.6); }

.transparent___2VwVa {
  width: 120px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  background-color: #1fdb84; }

.danger___1KBzM {
  color: #944317; }

@media screen and (max-width: 767px) {
  .test___2V-i_ {
    background: red; } }

.menuToggle___2NsGI {
  width: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer; }

.menuToggle___2NsGI div {
  width: 90%;
  height: 3px;
  background-color: white; }

@media (min-width: 768px) {
  .menuToggle___2NsGI {
    display: none; } }

@media screen and (max-width: 767px) {
  .test___1Loa7 {
    background: red; } }

.link___1RTKY {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  transition: color 0.2s linear; }
  @media screen and (max-width: 767px) {
    .link___1RTKY {
      font-size: 26px;
      color: black; } }

@media screen and (max-width: 767px) {
  .test___upbau {
    background: red; } }

.menu___2AI1m {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  max-width: 1024px;
  height: 100%;
  width: 70%; }
  @media screen and (max-width: 767px) {
    .menu___2AI1m {
      flex-flow: column;
      color: black; } }

.item___1n9Zp {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 767px) {
    .item___1n9Zp {
      width: 100%;
      padding-left: 86px; } }
  .item__link___1YZv1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: transparent;
    transition: color 0.2s linear; }
    @media screen and (max-width: 767px) {
      .item__link___1YZv1 {
        height: 50px;
        line-height: 50px;
        color: black; } }

.divider___1nru2 {
  padding: 0 20px; }
  @media screen and (max-width: 767px) {
    .divider___1nru2 {
      opacity: 0; } }

.sideDrawer___2Dh3N {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out; }

.wrapper___1Ec09 {
  position: relative;
  width: 100%; }

@media (min-width: 767px) {
  .sideDrawer___2Dh3N {
    display: none; } }

.open___1aFXn {
  transform: translateX(0); }

.close___1HzQB {
  transform: translateX(-100%); }

.logo___T8fBT {
  height: 11%;
  margin-bottom: 32px; }

.backdrop___l39Q2 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5); }

.signUP___3CNCP {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box; }

h4 {
  color: black; }

@media (min-width: 600px) {
  .signUP___3CNCP {
    width: 500px; } }

.input___13LnK {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; }

.label___TpKUF {
  font-weight: bold;
  display: block;
  margin-bottom: 8px; }

.inputElement___18DEq {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box; }

.inputElement___18DEq:focus {
  outline: none;
  background-color: #ccc; }

.invalid___3RNQL {
  border: 1px solid red;
  background-color: #FDA49A; }

.signIn___3wVql {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box; }

h4 {
  color: black; }

@media (min-width: 600px) {
  .signUP___3BvoP {
    width: 500px; } }

.container___2EQ0X {
  margin: 25px auto;
  color: #5b6c94;
  text-align: center; }

@media screen and (max-width: 767px) {
  .test___3E0vQ {
    background: red; } }

.container___2crW3 {
  margin: 0 auto;
  text-align: center;
  max-width: 380px; }

.link___1RyrC {
  line-height: 2;
  text-align: center;
  color: #5b6c94; }
  @media screen and (max-width: 767px) {
    .link___1RyrC {
      color: #5b6c94; } }

.container___2crW3 > ul {
  width: 100%; }

