@import '../../styles/core.scss';
@import '../../styles/base';
@import '../../styles/fonts';

.container {
	width: 100%;
	max-width: 2100px;
	flex: 1;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}


.topWrapper{
	background-color: $main-section-background-color;
	position: relative;
	padding-bottom: 10px;
}



footer {
	padding: 100px 20px 100px 20px;
}
