@import '../../styles/mixins';

.container {
	margin: 0 auto;
	text-align: center;
	max-width: 380px;
}

.link {
	line-height: 2;
  text-align: center;
	color: #5b6c94;
	@include mobile {
		color: #5b6c94;
	}
}

.container > ul {
	width: 100%;
}