.divider {
	height: 30px;
	display: flex;
	align-items: center;
	&__dark {
		height: 6px;
		width: 102px;
		background-color: #15484c;
	}
	&__light {
		height: 6px;
		width: 102px;
		background-color: white;
	}
	&__green {
		height: 6px;
		width: 102px;
		background-color: #a8d2c8;
	}
}
