@font-face {
  font-family: 'Bebas';
  src: url('/static/fonts/bebasneuebold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Bebas';
  src: url('/static/fonts/bebasneueregular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas';
  src: url('/static/fonts/bebasneuelight.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Bebas';
  src: url('/static/fonts/bebasneuethin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Bariol';
  src: url('/static/fonts/bariol_serif_regular-webfont.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Bariol';
  src: url('/static/fonts/bariol_serif_bold-webfont.woff2') format('woff2');
  font-weight: 700;
}
