$default-branding: (
  background: (
    accent: rgb(240, 134, 99),
    accent-hover:  rgb(240, 134, 99),
    attention: rgb(255, 82, 82),
    attention-hover: rgb(255, 82, 82),
    primary: rgb(177, 217, 207),
    primary_light: rgb(168, 210, 200),
    secondary: rgb(31, 219, 132),
    secondary-light:  rgba(31, 219, 131, 0.1),
    tertiary_1: rgb(91, 108, 148),
    tertiary_2: rgb(226, 237, 237),
    widget-box-shadow: rgb(129, 138, 145),
    widget-overlay: rgba(255, 255, 255, 0.5)
  ),
  text: (
    accent: rgb(240, 134, 99),
    attention: rgb(255, 82, 82),
    primary:white,
		secondary: rgb(3, 29, 91),
		tertiary: rgb(91, 108, 148)
  )
);

@function get-color($type, $color) {
  @return map-get(map-get($default-branding,  $type), $color);
}
